---
layout: page
title: About Us
order: 2
---
<div class="row">
  <div class="col-md-6">
    <p class="lead">
      Green Willow Games was formed in the fall of 2014 among a group of friends centered in the University of Virginia. We strive to tell the sort of stories that are so often forgotten in gaming. Feel free to contact us however you wish!
    </p>
    <ul class="list-unstyled">
      <li>Email: <a href="mailto:{{site.email}}">{{site.email}}</a></li>
      <li>
        Twitter: <a href="https://twitter.com/{{site.twitter_username}}">
          @{{site.twitter_username}}
        </a>
      </li>
      <li>
        Facebook: <a href="https://www.facebook.com/GraySkiesDarkWaters">
          Gray Skies, Dark Waters
        </a>
      </li>

    </ul>
  </div>
  <div class="col-md-6">
    <blockquote>
      <p>
        The poor soul sat sighing by a sycamore tree,<br>
        Sing all a green willow:<br>
        Her hand on her bosom, her head on her knee,<br>
        Sing willow, willow, willow:<br>
        The fresh streams ran by her, and murmur'd her moans;<br>
        Sing willow, willow, willow...
      </p>
      <p><small>Desdemona (<em>Othello</em>, IV.iii)</small></p>
    </blockquote>
  </div>
</div>
<h2>Meet The Team</h2>
<div class="row">
{% for person in site.team %}
  {% include team-member.html person=person %}
{% endfor %}
</div>